body {
  padding-top: 60px;
  padding-bottom: 40px;
  width: 900px;
  margin: auto;
}

.navbar .container-fluid {
  width: 900px;
  margin: auto;
}

td.actions {
  padding-right: 2px;
  padding-left: 2px;
}

footer {
  text-align: center;
}
