- up = !post.isNewRecord
- f = form(post, 'post')
form.form-horizontal(method="POST", action=(up?r.post_path(post.id):r.posts_path))
  fieldset
    | !{f.text('name', errs.name)}
    | !{f.text('title', errs.title)}
    | !{f.textarea('content', errs.content)}
    .form-actions
      button.btn.btn-primary(type='submit')= (up?"Edit":"Create") + ' post'
      | &nbsp;
      button.btn.btn-danger(type='reset') Cancel
