- up = !post.isNewRecord
- f = form(post, 'post', errs)
form.form-horizontal(method="POST", action=(up?r.post_path(post.id):r.posts_path))
  fieldset
    | !{f.text('name')}
    | !{f.text('title')}
    | !{f.textarea('content')}
    .form-actions
      button.btn.btn-primary(type='submit')= (up?"Edit":"Create") + ' post'
      | &nbsp;
      button.btn.btn-danger(type='reset') Cancel
