!!!
html
  head
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')

    title bullet

    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/application.css')

    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/application.js')

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') bullet
          .nav-collapse
    .container-fluid
      - if (flash)
        .row-fluid
          .span14
            .alert(class='alert-#{flash.type}')
              a.close(href='#', data-dismiss='alert') ×
              = flash.msg
      .row-fluid
        .span14
          block content
      hr
      footer
        p Copyright © 2012, Bullet.
